<div id="main">
    <h1>Vikings vs Orcs</h1>

    <p>Time left: <b>{{seconds}}</b> seconds</p>
    <p>Current player: <b>{{currentPlayer}}</b></p>

    <table>
        <tr *ngFor="let row of [0,1,2]">
            <td *ngFor="let column of [0, 1, 2]" (click)="playerAction(row, column)" [ngClass]="{'viking': insideGame[row][column] === 'Viking',
            'orc': insideGame[row][column] === 'Orc'}">{{insideGame[row][column]}}</td>
        </tr>
    </table>

    <div id="gameOver" *ngIf="gameOver">
        <p>Game over!</p>
        <p>A tie between vikings and orcs!</p>
    </div>

    <div id="winner" *ngIf="gameWon">
        <p>Winner: {{winner}}</p>
        <div [ngClass]="{'viking': winner === 'Viking',
        'orc': winner === 'Orc'}"></div>
        <p>Congratulations {{winner}}! <br> <br> Here's your prize: 💰 </p>
    </div>

    <div id="timeUp" *ngIf="seconds <= 0">
        <p>Times up!</p>
        <div id="imagens">
            <div class="viking"></div>
            <div class="orc"></div>
        </div>
        <p>A tie between vikings and orcs!</p>
    </div>

    <button type="button" (click)="reset()">New game</button>
</div>